<%= turbo_stream.replace "passport-photo" do %>
  <div id="passport-photo" class="mt-8 text-center">
    <% if @passport.photo.present? %>
      <div class="mt-8 mb-8 text-center">
      <a href="<%= @passport.photo.url %>" data-lightbox="passport">
        <%= image_tag @passport.photo.url, class: "rounded shadow-lg w-48 sm:w-64 inline-block" %>
      </a>
        <p class="text-sm text-gray-500 mt-６">クリックして画像を拡大表示できます。</p>
        <%= link_to '削除する', passport_path(@passport), data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか？" }, class: "ml-6 text-red-500 hover:text-red-700 mt-4" %>
      </div>
    <% end %>
  </div>
<% end %>