<%= turbo_stream.replace "passport-photo" do %>
  <div id="passport-photo" class="mt-8 text-center">
    <% if @passport.photo.present? %>
      <div class="mt-8 mb-8 text-center">
        <p class="text-sm text-gray-500 mb-6">クリックして画像を拡大表示できます。</p>
        <a href="<%= @passport.photo.url %>" data-lightbox="passport">
          <%= image_tag @passport.photo.url, class: "rounded shadow-lg w-48 sm:w-64 inline-block" %>
        </a>
          <%= link_to '画像を削除', passport_path(@passport), data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか？" }, class: "ml-4 hover:bg-red-200 opacity-75 hover:border hover:border-red-500 hover:rounded py-2 px-4 transition ease-in-out duration-150 underline" %>
      </div>
    <% end %>
  </div>
<% end %>