<div class="flex flex-col justify-center items-center min-h-screen bg-purple-50 p-6">
    <h1 class="text-4xl font-bold text-blue-950">Travel Starter</h1>
    <p class="text-lg text-blue-950">一緒に旅の支度を始めましょう。</p>
    <div class="mt-6 flex space-x-10">
        <%= link_to new_user_path, class: "btn btn-primary rounded shadow-lg" do %>
        今すぐはじめる
        <% end %>
        <%= link_to login_path, class: "btn btn-secondary rounded shadow-lg" do %>
        ログイン
        <% end %>
    </div>
</div>