<!-- Open the modal using ID.showModal() method -->
<div class="relative w-1/2 md:w-full mx-auto mt-4 mb-4 transform transition-transform duration-300 hover:scale-105" onclick="carry_on_modal.showModal()">
  <%= image_tag "baggage.png", class: "w-full h-auto rounded-lg shadow-lg" %>
  <span class="absolute bottom-0 left-0 w-full text-center text-white py-10 text lg font-semibold bg-black bg-opacity-30 hover:text-yellow-400 hover:bg-opacity-50">機内持ち込み制限品</span>
</div>
<dialog id="carry_on_modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box w-full max-w-7xl h-auto">

  <div class="modal-action absolute top-0 right-0 m-4">
    <form method="dialog">
      <button class="btn">✕</button>
    </form>
  </div>

  <h3 class="text-lg font-bold mb-6 text-center">機内持ち込み制限品</h3>
    <div class="border-t border-dashed border-4 border-blue-800 mb-10"></div>
    <p class="py-4 leading-loose">
    機内には保安上の理由で<br>
    持ち込みできるものが制限されています。<br>
    ぜひチェックしておきましょう！
    </p>
    <div class="flex justify-center">
      <div class="w-1/2 p-4">
        <h4 class="text:sm sm:text-md font-bold badge badge-accent">持ち込めるもの</h4>
        <ul class="list-disc text-left mt-6 space-y-2">
          <li>パソコン、タブレット</li>
          <li>カメラ</li>
          <li>携帯電話</li>
          <li>モバイルバッテリー (預け入れ不可)</li>
          <li>ワイヤレスイヤホン（Bluetooth接続のもの）</li>
          <li>書籍</li>
          <li>小型の傘</li>
          <li>液体物（ジッパー付き100ml以下のプラスチック容器に入れられたもの）</li>
          <li>保安検査後の空港免税店で購入した液体（香水、化粧品、飲み物）</li>
          <li>ベビーフード/ベビーミルク(100mlの制限なし)</li>
          <li>食べ物（おにぎり、スナックなど)</li>
          <li>爪切り</li>
          <li>化粧用の小さなハサミ</li>
        </ul>
      </div>
      <div class="w-1/2 p-4">
        <h4 class="text:sm sm:text-md font-bold badge badge-secondary">持ち込めないもの</h4>
        <ul class="list-disc text-left mt-6 space-y-2">
          <li>液体物（100mlを超えるもの）</li>
          <li>飲料（500mlのペットボトルなど）</li>
          <li>刃物（ナイフ、ハサミなど）</li>
          <li>可燃性物質（ライター、スプレー缶など）</li>
          <li>スポーツ用品（バット、ゴルフクラブなど）</li>
          <li>工業用工具（ドライバー、レンチなど）</li>
          <li>花火/クラッカー(預け入れも不可) </li>
        </ul>
      </div>
    </div>
  </div>
</dialog>

