<div class="container mx-auto mt-20 min-h-screen">
  <h1 class="text-2xl sm:text-3xl font-bold text-center mb-8">フライトの準備は万全ですか？</h1>

  <div class="card bg-blue-50 w-2/3 mx-auto flex justify-center items-center shadow-xl rounded-lg p-6">
    <div class="card-body text-center flex flex-col items-center justify-center">
      <h2 class=" card-title mb-6 mt-6 text-center text-base sm:text-xl font-semibold">快適なフライトのために知っておきたいこと</h2>
      <%= render 'flights/carry_on_restrictions' %>
      <%= render 'flights/in_flight' %>
      <%= render 'flights/airport' %>
    </div>
  </div>
</div>
