<div class="navbar bg-cerulean text-white py-4">
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost p-0" do %>
      <%= image_tag "logo.png", class: "w-24 h-16" %>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-4">
      <li>
        <details class="relative">
          <summary>MENU</summary>
          <ul class="absolute right-0 bg-base-100 rounded p-2 mt-1 w-48 shadow-lg text-blue-950">
            <li><%= link_to "アカウント登録", new_user_path %></li>
            <li><%= link_to "ログイン", login_path %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
