<div class="navbar bg-purple-300">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Travel Starter</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details class="relative">
          <summary>MENU</summary>
          <ul class="absolute right-0 bg-base-100 rounded-t-none p-2 mt-1 w-48 shadow-lg">
            <li><a>アカウント登録</a></li>
            <li><a>ログイン</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
