<div class="navbar bg-purple-300">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>MENU</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>ログアウト</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>